* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

#canvas {
  background:#cbe9ba;
}

#menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: #000;
  transition: 0.5s ease-out;
}

#menu li {
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#menu li span {
  font-size: 24px;
  line-height: 50px;
  color: #fff;
}

#sizeSelect,
#colorSelect {
  display: none;
  z-index: 3;
  position: absolute;
}

#sizeSelect {
  width: 100px;
  background-color: rgb(100, 94, 94);
  top: 110px;
  left: 50px;
  color: #fff;
}

#sizeSelect li {
  height: 50px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  line-height: 50px;
}

#sizeSelect li:hover {
  background-color: #000;
}

#sizeSelect li:first-child:hover {
  background-color: rgb(100, 94, 94);
}

#colorSelect {
  width: 100px;
  background-color: rgb(100, 94, 94);
  top: 160px;
  left: 50px;
  color: #fff;
}

#colorSelect li {
  height: 50px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  line-height: 50px;
}


#colorSelect li:hover {
  border: 1px solid #fff;
}

#colorSelect li:first-child:hover {
  border: 0;
}

.contextmenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000;
  border-radius: 10px;
  display: none;
}

.contextmenu li {
  width: 200px;
  height: 50px;
  font: 14px "微软雅黑";
  line-height: 50px;
  color: #fff;
  text-indent: 2em;
  border-bottom: 1px dashed #f5f5f5;
  cursor: pointer;
}

.contextmenu li:last-child {
  border-bottom: none;
}

.icon-shezhi:hover #colorSelect{
  display: block;
}